<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Design System Web for Single SPA Root Example App</title>
    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap"
        src="https://storage.googleapis.com/react.microfrontends.app/importmap.json"></script>
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
        {
            "imports": {
                "@natura-cosmeticos/single-spa-root-config-example": "http://localhost:9000/react-mf-root-config.js",
                "@natds-js-examples/typescript": "http://localhost:8081/natds-js-examples-typescript.js",
                "@natds-js-examples/react": "http://localhost:8080/natds-js-examples-react.js"
            }
        }
    </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@naturacosmeticos/natds-icons@1.0.0-alpha.0/dist/natds-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet" />
    <style>
        @font-face {
            font-family: "natds-icons";
            font-style: normal;
            font-weight: 400;
            font-display: auto;
            src: url("https://cdn.jsdelivr.net/npm/@naturacosmeticos/natds-icons@1.0.0-alpha.0/dist/fonts/natds-icons.eot");
            src: url("https://cdn.jsdelivr.net/npm/@naturacosmeticos/natds-icons@1.0.0-alpha.0/dist/fonts/natds-icons.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/npm/@naturacosmeticos/natds-icons@1.0.0-alpha.0/dist/fonts/natds-icons.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/@naturacosmeticos/natds-icons@1.0.0-alpha.0/dist/fonts/natds-icons.woff") format("woff"), url("https://cdn.jsdelivr.net/npm/@naturacosmeticos/natds-icons@1.0.0-alpha.0/dist/fonts/natds-icons.ttf") format("truetype"), url("https://cdn.jsdelivr.net/npm/@naturacosmeticos/natds-icons@1.0.0-alpha.0/dist/fonts/natds-icons.svg#natds-icons") format("svg");
        }

        body {
            font-family: Roboto;
            background: #f7f7f7;
        }

        #app {
            display: flex;
            justify-content: space-around;
        }
    </style>
    <template id="single-spa-layout">
        <single-spa-router>
            <nav class="topnav">
                <!-- <application name="@natura-cosmeticos/single-spa-navbar-example"></application> -->
            </nav>
            <main class="main-content">
                <route default>
                    <p>
                        This example project shows independently built and deployed micro frontends that use React,
                        single-spa and @naturacosmeticos/natds-web.<br />
                    </p>
                    <div id="app">
                        <div>
                            <h3>@natds-js-examples/typescript</h1>
                                <application name="@natds-js-examples/typescript"></application>
                        </div>
                        <div>
                            <h3>@natds-js-examples/react</h1>
                                <application name="@natds-js-examples/react"></application>
                        </div>
                    </div>
                </route>
            </main>
        </single-spa-router>
    </template>
</head>

<body>
    <script>
        System.import('@natura-cosmeticos/single-spa-root-config-example');
    </script>
    <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>